body {
    background: #b4b4b4 url("../img/background.webp") repeat center/cover;
    background-size: 15%;
    background-attachment: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

.header__heading {
    color: #A11414;
    font-weight: 400;
    font-size: 2rem;
}

.header__heading--spec {
    font-weight: 700;
}

.header__img-wrap {
    margin-top: 2%;
    border: 14px solid white;
    outline: 1px solid black;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-left: 12%;
}

.section--flx {
    display: flex;
    width: 87%;
}

.article__heading {
    color: #A11414;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.article__item {
    text-indent: 32px;
    margin-top: 1%;   
    margin-bottom: 1%;
}

.article__text--mod {
    color: red;
}

.article__text--add {
    text-decoration: line-through;
}

.nav-wrap { 
    width: 27%;
    border-radius: 1% 15% 1% 15%;
    margin-left: 1%;
    background-color: #D7D7D7;
    padding-bottom: 2%;
}

.nav-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 15%;
    margin-left: 15%;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12%;
    margin-left: 15%;

}

.nav__link {
    color: black;
    text-decoration: none;
}

.nav__link:hover {
    color: #A11414;
    font-weight: 700;
    text-decoration: underline;
}

.section--add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 87%;
    margin-top: 3%;
}

.container__content_text_first {
    text-indent: 32px;
}   
 
.content_text_first_red {
    color: #A11414;
}

.container__content_text_second {
    margin-top: 1%;
}

.container__content_text_third {
    text-indent: 32px;
    margin-top: 2%
}

.footer {
    width: 65%;
    background-size: 100%;
    background-image: url(../img/bg.footer.png);
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-left: 12%;
}

.footer__item {
    width: 33%;
    padding-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.footer__item--spec {
    font-weight: 700;
}


